{% extends '@App/email.html.twig' %}

{% block subject %}{{ 'emails.password_recovery.subject'|trans({'%userFirstName%': user.getSalutation()}) }}{% endblock subject %}
{% block bodyText %}

    {{ 'emails.password_recovery.perex'|trans }}
    {{ 'emails.password_recovery.your_data'|trans }}
    {{ 'emails.password_recovery.email'|trans }}: {{ userEmail }}
    {{ 'emails.password_recovery.confirm'|trans }}
    {{ passwordRecoveryLink }}

{% endblock bodyText %}
{% block htmlTitle %}
    {{ 'emails.password_recovery.html_title'|trans }}
{% endblock htmlTitle %}
{% block htmlContent %}

    <center class="wrapper">
        <div class="webkit">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600px">
                <tbody>
                <tr>
                    <td><img src="http://nase-appka.com/files/email/header.jpg" width="600px" alt="Tohle je obrázek" /></td>
                </tr>
                </tbody>
            </table>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600px">
                <tbody>
                <tr>
                    <td height="40"></td>
                </tr>
                <tr>
                    <td>
                        <h1 style="text-align: center;">{{ 'emails.password_recovery.title'|trans }}</h1>
                    </td>
                </tr>
                <tr>
                    <td><hr style="width: 110px;" /></td>
                </tr>
                <tr>
                    <td>
                        <p style="margin: 7px auto; width: 500px; text-align: center; word-spacing: 3.5px; padding-left: 30px; padding-right: 30px;">{{ 'emails.password_recovery.perex'|trans }}</p><br>
                        <p style="margin: 7px auto; width: 500px; text-align: center; word-spacing: 3.5px; padding-left: 30px; padding-right: 30px;">{{ 'emails.password_recovery.your_data'|trans }}:</p>
                        <p style="margin: 7px auto; width: 500px; text-align: center; word-spacing: 3.5px; padding-left: 30px; padding-right: 30px;"><strong>{{ 'emails.password_recovery.email'|trans }}</strong> {{ userEmail }}</p><!-- EMAIL -->
                        <p style="margin: 7px auto; width: 500px; text-align: center; word-spacing: 3.5px; padding-left: 30px; padding-right: 30px;">{{ 'emails.password_recovery.confirm'|trans }}</p>
                        <br>
                        <br>
                        <br>
                        <center><a target="blank" style="text-decoration: none; background-color: white; width: 100px; margin: 7px auto; text-align: center; word-spacing: 3.5px; padding-left: 10px; padding-right: 10px;padding-top: 10px; padding-bottom: 10px; height:45px;" href="{{ passwordRecoveryLink }}">{{ 'emails.password_recovery.recover'|trans }}</a></center>
                    </td>
                </tr>
                </tbody>
            </table>

            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600px">
                <tbody>
                <tr>
                    <td height="35"></td>
                </tr>
                <tr>
                    <td><hr></td>
                </tr>
                <tr>
                    <td height="15"></td>
                </tr>
                <tr>
                    <td>
                        <a style="color: black; text-decoration: none;" target="blank" href="http://nase-appka.com">
                            <p style="font-size: 22px; text-align: center; color: black; text-decoration: none;">www.nase-appka.com</p>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellspacing="0" cellpadding="0" border="0" width="600px">
                <tbody>
                <tr>
                    <td colspan="3" height="15"></td>
                </tr>
                <tr>
                    <td style="width: 200px;"></td>
                    <td>Patička</td>
                    <td style="width: 200px;"></td>
                </tr>
                <tr>
                    <td height="55"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </center>
{% endblock htmlContent %}
